.friend-list {
  display: flex;
  flex-direction: column;
  width: 240px;
  align-self: stretch;
  flex-shrink: 0;
  background-color: #191F2B;
  border-right: 2px solid #282c34;
  overflow-x: hidden;
}

.friend-list-add {
  font-size: 40px;
  border: 1px solid #282c34;
}

.friend-list-header {
  margin-top: 20px;
  border-top: 1px solid #61dafb;
  border-bottom: 1px solid #61dafb;
  color: #61dafb;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.friend-list-result {
  font-size: calc(12px + 0.5vmin);
  font-style: italic;
  color: #61dafb;
  padding: 10px;
  white-space: nowrap;
}

.friend-list-search:focus {
  outline: none;
  box-shadow: 0 0 1pt 1pt #424242;
}

.friend-list-search {
  background-color: transparent;
  border: 1px solid #282c34;
  border-radius: 5px;
  color: #61dafb;
  min-width: 0px;
  padding: 0px 10px;
  margin: 0px 5px;
}

.friend-toggle {
  width: 30px;
  height: 30px;
  padding: 10px;
  border-radius: 25px;
  position: fixed;
  object-fit: contain;
  color: #61dafb;
  background-color: #282c34;
  opacity: 0.7;
  cursor: pointer;
  bottom: 25px;
  left: 10px;
  z-index: 999;
}

.profile-logo {
  max-height: 40px;
  margin: 20px;
  object-fit: contain;
  border-radius: 10px;
  width: 40px;
}

#root, body, html {
  height: 100%;
  width: 100%;
}

.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 80px;
  flex-shrink: 0;
  justify-content: space-between;
  border-bottom: 2px solid #282c34;
  background-color: #191F2B;
}

.App-header-nav {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-main {
  background-color: #0F1726;
  display: flex;
  flex-direction: column;
  font-size: calc(14px + 0.8vmin);
  color: white;
  overflow: hidden;
  overflow-y: auto;
  height: 100%;
  width: 100%;
}

.App-profile {
  padding: 10px;
  display: flex;
  height: 100%;
  width: 100%;
}

.App-body {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100%;
  width: 100%;
  clear:both;
  align-items: stretch;
}

.Main {
  display: flex;
  height: 100%;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
