.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

#root, body, html {
  height: 100%;
  width: 100%;
}

.App-main {
  background-image: linear-gradient(#121315, #282c34);
  display: flex;
  flex-direction: column;
  font-size: calc(14px + 0.8vmin);
  color: white;
  height: 100%;
  width: 100%;
}

.App-profile {
  padding: 10px;
  display: flex;
  height: 100%;
  width: 100%;
}

.friend-list {
  display: flex;
  flex-direction: column;
  width: 20%;
  background-image: linear-gradient(to bottom right, #121315, #282c34);
}

.button-hovered {
  padding: 0px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-hovered:hover {
  background-image: linear-gradient(#181c24, #282c34);
  cursor: pointer;
}

.button-selected {
  background-image: linear-gradient(#181c24, #282c34);
}

.button-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 160px;
  padding: 0;
  flex-shrink: 0;
  flex-grow: 0;
}

.profile-logo {
  max-height: 40px;
  margin: 20px;
  object-fit: contain;
  border-radius: 10px;
  width: 40px;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 80px;
  justify-content: space-between;
  border-bottom: 2px solid #282c34;
}

.App-header-nav {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
