

.top {
    z-index: 1000;
}

.login {
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    color: white;
    border-color: white;
    background-color: #423070;

}

.selected-box {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.diamond {
    width: 10px;
    height: 10px;
    border: 1px solid darkgrey;
    transform:rotate(45deg);
    position: absolute;
    background-color: #181c24;
}

.selected-cursor {
    position: absolute;
    bottom: 4px;
    left: calc(50% - 11px);
}

.glowing {
    background-color: orangered;
}

.button-login:hover {
    background-image: linear-gradient(#181c24, #282c34);
    cursor: pointer;
}

.button-logout:hover {
    background-color: darkviolet;
    transition: background-color 0.5s ease;
}

.button-item {
    min-width: 160px;
    border-right: 1px solid #282c34;
}

.button-logout {
    background-color: #181c24;
    transition: background-color 0.5s ease;
    border-radius: 0px 0px 0px 10px;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.button-logout-container {
    display: flex;
    border-radius: 0px 0px 0px 10px;
    align-items: center;
    position: absolute;
    height: 50px;
    width: 160px;
    top: 82px;
    left: 0;
}

.button-hovered {
    padding: 0px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-hovered:hover {
    background-image: linear-gradient(#181c24, #282c34);
    cursor: pointer;
}

.button-selected {
    background-image: linear-gradient(#141a21, #242a31);
}

.button-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 160px;
    padding: 0;
    flex-shrink: 0;
    flex-grow: 0;
}
.autocomplete:focus {
    outline: none;
}

.component-input-container {
    display: flex;
    align-items: center;
}

.component-input {
    padding: 5px 10px;
    margin-left: 15px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #282c34;
    color: white;
}

.component-input:focus {
    outline: none;
    border-bottom-color: #61dafb;
}

.component-input-name {
    font-size: 16px;
    padding: 7px 0px 13px 0px;
}

.updatable-container {
    display: flex;
    height: 30px;
    align-items: center;
}

.updatable-input {
    width: 120px;
    height: 30px;
    margin: 0px 20px;
    border: none;
    color: white;
    border-bottom: 1px solid #61dafb;
    background-color: transparent;
}

.updatable-input:focus {
    outline: none;
    border-bottom: 1px solid #282c34;
}

.updatable-name {
    width: 160px;
    font-size: 16px;
}

.updatable-edit {
    height: 30px;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 10px;
    padding: 0px 20px;
    cursor: pointer;
    background-color: #124512;
}

.updatable-cancel {
    height: 30px;
    cursor: pointer;
    border: none;
    margin: 10px;
    background-color: transparent;
    border-radius: 5px;
    color: white;
}

.modal-container {
    position: absolute;
    top: 20%;
    left: 30%;
    width: 40%;
    background-color: #242a31;
    border: none;
    border-radius: 10px;
    outline: none;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    height: 50%;
}

.modal-container:focus {
    outline: none;
}
